  <div class="">
        <div class="container mx-auto max-w-6xl px-10 py-20">
            <h1 class="aboutheader pb-6">Admin-Penel</h1>

            <div class="pb-5">
                <h1 class="font-sans my-5 text-4xl bg-red-500 py-4 px-10">Dogs-Menu</h1>
            </div>
            <div class="pb-10">
                <button class="font-sans text-xl bg-black py-3 px-10 text-white">Add-Dog</button>
                <button class="font-sans text-xl bg-black py-3 px-10 text-white">AdoptedDogs-lists</button>
            </div>


            <div class="pb-8">
                <h1 class="font-sans text-2xl pb-2">10 Dogs in the database</h1>
                <h1 class="font-sans text-2xl">90 Dogs adopted</h1>
            </div>


            <h1 class="detailsheader pb-6">List of Dogs</h1>

            <table class="table tablefont table-fixed w-full text-center ">
                <thead class="bg-black text-white">
                    <tr>
                        <th class="py-2">Id</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Disability</th>
                        <th>Sex</th>
                        <th>Option1</th>
                        <th>Option2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b-2 text-xl font-serif text-gray-700 border-red-600">
                        <td class="py-4 ">1</td>
                        <th class="underline">Zebra</th>
                        <th>Black</th>
                        <th>No</th>
                        <th>Female</th>
                        <th><button class="bg-green-700 text-white text-xl py-2 px-4">Edit-Dog</button></th>
                        <th><button class="bg-red-700 text-white text-xl py-2 px-4">Delete-Dog</button></th>
                    </tr>
                    <tr class="border-b-2 text-xl font-serif text-gray-700 border-red-600">
                        <td class="py-4 ">3</td>
                        <th class="underline">China</th>
                        <th>Blue</th>
                        <th>No</th>
                        <th>Male</th>
                        <th><button class="bg-green-700 text-white text-xl py-2 px-4">Edit-Dog</button></th>
                        <th><button class="bg-red-700 text-white text-xl py-2 px-4">Delete-Dog</button></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
