<div class="">
        <div class="container mx-auto max-w-6xl px-10 py-20">
            <h1 class="aboutheader pb-6">Admin-Penel</h1>

            <div class="pb-5">
                <button class="font-sans text-xl bg-red-400 py-3 px-10 text-white">Add-new-Dog</button>
            </div>
            <div class="flex gap-5 pb-5">
                <button class="font-sans text-xl bg-black py-4 px-10 shadow-xl text-white">DogsMenu</button>
                <button class="font-sans text-xl bg-black py-4 shadow-xl px-10 text-white">AdoptionMenu</button>
            </div>

           
        </div>
    </div>