 <div class="">
        <div class="container mx-auto max-w-3xl px-10 py-20">
            <h1 class="detailsheader pb-5">Remix details..</h1>
            
            <div class="pb-5">
                <button class="font-serif text-xl bg-green-600 py-3 px-10 shadow-xl">Adopt</button>
            </div>
            
            <div class="grid grid-cols-2">
                <div class="">
                    <img src="/images/five.jpg" alt="" class="w-auto">
                </div>
                <div class="pl-5">
                    <p class="detailOne pb-2">Name: Remix</p>
                    <p class="detailOne pb-2">Age: 2years</p>
                    <p class="detailOne pb-2">Sex: Male</p>
                    <p class="detailOne pb-2">Color: red</p>
                    <p class="detailOne pb-2">Breed: fox-like</p>
                    <p class="detailOne pb-2">Eyes: Green</p>
                    <p class="detailOne pb-2">Hobbies: playing</p
                </div>
            </div>
        </div>
    </div>