    <div class="">
        <div class="container mx-auto max-w-4xl px-10 py-20">
            <h1 class="aboutheader">About AdoptMe</h1>
            <p class="font-sans text-xl max-w-xl text-gray-500">
                Lorem ipsum dolor sit amet, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque omnis sapiente voluptatibus dolore amet modi qui nihil deserunt accusamus, harum quo architecto quas. Dolorum expedita, voluptatibus eos aut veritatis quod natus, quisquam vitae exercitationem quidem architecto sit, Lorem, ipsum.0 atque non minima? consectetur adipisicing elit. Beatae est aperiam facilis! Praesentium consequuntur deleniti assumenda molestiae ratione minus saepe illo blanditiis, veniam quas, vero, voluptatum perspiciatis! Veniam, quae est?
            </p>
        </div>
    </div>