 <!-- showcasing -->
    <div class="mainHome">
        <div class="container max-w-3xl mx-auto flex flex-col">
            <h1 class="mainHeader max-w-xl text-white">Hi stranger, we're <span>AdoptMe</span></h1>
            <h2 class="font-sans text-2xl max-w-2xl pb-4 text-gray-100"> em ipsum  ad sint corporis labore velit quidem maxime nesciunt tempora sapiente nam iure omnis consequuntur ipsum placeat deserunt quas dolorum sit architecto.</h2>
            <div class="flex gap-3">
                <a class="font-sans text-xl bg-red-500 py-4 px-10 transition ease-in-out duration-150 hover:bg-red-700 cursor-pointer">Adopt</a>
                <a class="font-sans text-xl bg-red-500 py-4 px-10 transition ease-in-out duration-150 hover:bg-red-700 cursor-pointer">Contact</a>
            </div>
        </div>
    </div>

    <!-- why adoption -->
    <div class="whyadoption">
        <div class="container mx-auto max-w-4x px-10 py-20 grid grid-cols-2">
            <!-- left side -->
            <div class="flex flex-col items-center justify-center">
                <h1 class="whyadop">Why Adoption...</h1>
            </div>
            <!-- right side -->
            <div class="flex flex-col justify-center">
                <p class="max-w-2xl font-serif text-xl text-gray-400 leading-8">
                    Lorem ipsum dolo Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero atque ducimus fuga provident voluptatem non doloribus quasi labore quae odio voluptas reprehenderit, possimus dolorem quidem dolore nostrum architecto dolores eum. r sit amet consectetur adipisicing elit. Quasi illo expedita aspernatur voluptatum asperiores! Quia vero blanditiis ex eveniet ad.
                </p>
            </div>

        </div>
    </div>


   <div class="bg-gray-200">
    <div class="whyadoption">
        <div class="container mx-auto max-w-4x px-10 py-20 grid grid-cols-2">
            <!-- left side -->
            <div class="flex flex-col justify-center">
                <p class="max-w-2xl font-serif text-xl text-gray-400 leading-8">
                    Lorem ipsum dolo Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero atque ducimus fuga provident voluptatem non doloribus quasi labore quae odio voluptas reprehenderit, possimus dolorem quidem dolore nostrum architecto dolores eum. r sit amet consectetur adipisicing elit. Quasi illo expedita aspernatur voluptatum asperiores! Quia vero blanditiis ex eveniet ad.
                </p>
            </div>
            <!-- right side -->
            <div class="flex flex-col items-center justify-center">
                <h1 class="whyadop">Why from us...</h1>
            </div>

        </div>
    </div>

   </div>

   <!-- adoptme -->
   <div class="adoptMe">
    <div class="flex flex-col text-center">
        <h1 class="font-sans text-5xl pb-4 font-bold text-white">plase adopt me..</h1>
        <div class="">
            <button class="font-serif text-2xl bg-red-600 text-white py-3 px-10 shadow-xl">AdoptMe</button>
        </div>
    </div>
   </div>


    <!-- gallery -->
    <div class="">
        <div class="container gallary mx-auto max-w-4x px-10 py-20 grid grid-cols-3 gap-5">
            <img src="~/images/three.jpg" alt="">
            <img src="~/images/three.jpg" alt="">
            <img src="~/images/three.jpg" alt="">
        </div>
    </div>

    <!-- footer -->
    <div class="bg-gray-900">
        <div class="container  mx-auto max-w-4x px-10 py-20">
            <h1 class="font-sans text-4xl pb-4 text-white">AdoptMe</h1>
            <p class="font-serif text-white text-xl">2022</p>
        </div>
    </div>