<div class="">
        <div class="container mx-auto max-w-4xl px-10 py-20">
            <h1 class="aboutheader">Contact Us</h1>
            <form class="max-w-xl">
                <div class="py-2 flex flex-col">
                    <label for="" class="font-serif text-2xl">Your-Name</label>
                    <input type="text" class="border-2 border-black shadow-lg py-2 px-4 text-2xl">
                </div>
                <div class="py-2 flex flex-col">
                    <label for="" class="font-serif text-2xl">Your-Email</label>
                    <input type="email" class="border-2 border-black shadow-lg py-2 px-4 text-2xl">
                </div>
                <div class="py-2 flex flex-col">
                    <label for="" class="font-serif text-2xl">Your-Message</label>
                    <textarea name="" class="border-2 border-black shadow-lg py-2 px-4 text-2xl" id="" cols="30" rows="6"></textarea>
                </div>
                <button class="font-sans text-2xl bg-red-600 text-white py-4 w-full">Send Message</button>
            </form>
        </div>
    </div>