 <div class="">
        <div class="container mx-auto max-w-6xl px-10 py-20">
            <h1 class="aboutheader pb-6">Admin-Panel-Adoptions</h1>

            <div class="pb-5">
                <h1 class="font-sans my-5 text-4xl bg-red-500 py-4 px-10">Adoption-Menu</h1>
            </div>
            <div class="pb-10">
                <button class="font-sans text-xl bg-green-600 py-3 px-10 text-white">accepted-lists</button>
                <button class="font-sans text-xl bg-red-600 py-3 px-10 text-white">rejected-lists</button>
            </div>

            <h1 class="detailsheader pb-6">List of pending-applications</h1>

            <table class="table tablefont table-fixed w-full text-center ">
                <thead class="bg-black text-white">
                    <tr>
                        <th class="py-2">Id</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Dog</th>
                        <th>Option1</th>
                        <th>Option2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b-2 text-xl font-serif text-gray-700 border-red-600">
                        <td class="py-4 ">1</td>
                        <th class="underline">Thomas </th>
                        <th>Further</th>
                        <th>fur@gmail.com</th>
                        <th>Rexim</th>
                        <th><button class="bg-green-700 text-white text-xl py-2 px-4">Accept</button></th>
                        <th><button class="bg-red-700 text-white text-xl py-2 px-4">Reject</button></th>
                    </tr>
                    <tr class="border-b-2 text-xl font-serif text-gray-700 border-red-600">
                        <td class="py-4 ">3</td>
                        <th class="underline">Thousand</th>
                        <th>Further</th>
                        <th>fur@gmail.com</th>
                        <th>Gejo</th>
                        <th><button class="bg-green-700 text-white text-xl py-2 px-4">Accept</button></th>
                        <th><button class="bg-red-700 text-white text-xl py-2 px-4">Reject</button></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>